<div class="modal theme-modal fade" id="user" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <div class="row nav nav-tabs p-0 m-0 mb-4 d-none" id="myTab" role="tablist">
          <div class="col nav-item p-0" role="presentation">
            <a
              class="nav-link active w-100"
              id="login-tab"
              data-bs-toggle="tab"
              data-bs-target="#login-tab-pane"
              type="button"
              role="tab"
              aria-selected="true"
              href="#login-tab-pane"
            >
              Sign In
            </a>
          </div>
          <div class="col nav-item p-0" role="presentation">
            <a
              class="nav-link w-100"
              id="register-tab"
              data-bs-toggle="tab"
              data-bs-target="#register-tab-pane"
              type="button"
              role="tab"
              aria-selected="false"
              href="#register-tab-pane"
            >
              Sign Up
            </a>
          </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" tabindex="0">
            <div class="log-in-box" id="login-form">
              <!-- Login Form -->
              <div class="log-in-title">
                <h4>Welcome Back</h4>
                <p>Log In to Your Account</p>
              </div>

              <!-- Toggleable Forms -->
              <div class="login-box">
                {%- form 'customer_login', novalidate: 'novalidate' -%}
                  <div class="row g-3">
                    <!-- Email Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="email"
                          name="customer[email]"
                          id="CustomerEmail"
                          placeholder="Email"
                        >
                        <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
                      </div>
                    </div>

                    <!-- Password Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="password"
                          name="customer[password]"
                          id="CustomerPassword"
                          placeholder="Password"
                        >
                        <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
                      </div>
                    </div>

                    <!-- Forgot Password Link -->
                    <div class="col-12">
                      <div class="forgot-box">
                        <a href="#recover" id="recover-password-link">Forgot your password?</a>
                      </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                      <button class="btn login btn_black sm" type="submit">Log In</button>
                    </div>
                  </div>
                {%- endform -%}
              </div>

              <div class="sign-up-box">
                <p>Don't have an account?</p>
                <a class="theme-color" onclick="goToTab('register-tab-pane')">Create an Account</a>
              </div>
            </div>
            <!-- Recover Password Form -->
            <div class="log-in-box recover-box" id="recover-form" style="display: none;">
              <div class="log-in-title">
                <h4>Recover Your Password</h4>
                <p>We'll send you an email to reset your password.</p>
              </div>
              {%- form 'recover_customer_password' -%}
                <div class="row g-3">
                  <!-- Email Field -->
                  <div class="col-12">
                    <div class="form-floating">
                      <input class="form-control" type="email" name="email" id="RecoverEmail" placeholder="Email">
                      <label for="RecoverEmail">Email</label>
                    </div>
                  </div>

                  <!-- Submit Button -->
                  <div class="col-12">
                    <button class="btn login recover btn_black sm" type="submit">Reset Password</button>
                  </div>
                </div>
              {%- endform -%}

              <div class="other-log-in">
                <h6>OR</h6>
              </div>

              <div class="col-12 sign-up-box">
                <a href="#login" id="back-to-login">Back to Login</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" tabindex="0">
            <div class="log-in-box">
              <div class="log-in-title">
                <h4>Welcome To katie</h4>
                <p>Create New Account</p>
              </div>
              <div class="login-box">
                {%- form 'create_customer', novalidate: 'novalidate' -%}
                  {%- if form.errors -%}
                    <div class="form-error-message" role="alert" tabindex="-1" autofocus>
                      <h2 class="error-heading">
                        <i class="error-message-icon">
                          {% render 'icon-error-message' %}
                        </i>
                        Please Adjust Following.
                      </h2>
                      <ul class="error-list">
                        {%- for field in form.errors -%}
                          <li>
                            {%- if field == 'form' -%}
                              {{ form.errors.messages[field] }}
                            {%- else -%}
                              <a href="#RegisterForm-{{ field }}">
                                {{ form.errors.translated_fields[field] | capitalize }}:
                                {{ form.errors.messages[field] }}
                              </a>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}

                  <div class="row g-3">
                    <!-- First Name Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="text"
                          name="customer[first_name]"
                          id="RegisterForm-FirstName"
                          {% if form.first_name %}
                            value="{{ form.first_name }}"
                          {% endif %}
                          placeholder="{{ 'customer.register.first_name' | t }}"
                          autocomplete="given-name"
                        >
                        <label for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
                      </div>
                    </div>

                    <!-- Last Name Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="text"
                          name="customer[last_name]"
                          id="RegisterForm-LastName"
                          {% if form.last_name %}
                            value="{{ form.last_name }}"
                          {% endif %}
                          placeholder="{{ 'customer.register.last_name' | t }}"
                          autocomplete="family-name"
                        >
                        <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
                      </div>
                    </div>

                    <!-- Email Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="email"
                          name="customer[email]"
                          id="RegisterForm-email"
                          {% if form.email %}
                            value="{{ form.email }}"
                          {% endif %}
                          placeholder="{{ 'customer.register.email' | t }}"
                          spellcheck="false"
                          autocapitalize="off"
                          autocomplete="email"
                          aria-required="true"
                          {% if form.errors contains 'email' %}
                            aria-invalid="true" aria-describedby="RegisterForm-email-error"
                          {% endif %}
                        >
                        <label for="RegisterForm-email">{{ 'customer.register.email' | t }}</label>
                      </div>
                      {%- if form.errors contains 'email' -%}
                        <span id="RegisterForm-email-error" class="form__message">
                          <i class="error-message-icon"> {% render 'icon-error-message' %} </i>
                          {{ form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email }}.
                        </span>
                      {%- endif -%}
                    </div>

                    <!-- Password Field -->
                    <div class="col-12">
                      <div class="form-floating">
                        <input
                          class="form-control"
                          type="password"
                          name="customer[password]"
                          id="RegisterForm-password"
                          placeholder="{{ 'customer.register.password' | t }}"
                          aria-required="true"
                          {% if form.errors contains 'password' %}
                            aria-invalid="true" aria-describedby="RegisterForm-password-error"
                          {% endif %}
                        >
                        <label for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
                      </div>
                      {%- if form.errors contains 'password' -%}
                        <span id="RegisterForm-password-error" class="form__message">
                          <i class="error-message-icon">
                            {% render 'icon-error-message' %}
                          </i>
                          {{ form.errors.translated_fields.password | capitalize }}
                          {{ form.errors.messages.password }}.
                        </span>
                      {%- endif -%}
                    </div>

                    <!-- Terms & Privacy Checkbox -->
                    <div class="col-12">
                      <div class="forgot-box">
                        <div class="forgot-content">
                          <input
                            class="custom-chk me-2"
                            id="sign-agree-terms-checkbox"
                            type="checkbox"
                            name="terms"
                          >
                          <label for="sign-agree-terms-checkbox">
                            <span class="svg-wrapper">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                class="icon icon-checkmark"
                                viewBox="0 0 12 9"
                              >
                                <path fill="currentColor" fill-rule="evenodd" d="M11.35.643a.5.5 0 0 1 .006.707l-6.77 6.886a.5.5 0 0 1-.719-.006L.638 4.845a.5.5 0 1 1 .724-.69l2.872 3.011 6.41-6.517a.5.5 0 0 1 .707-.006z" clip-rule="evenodd"></path>
                              </svg>
                            </span>
                            I agree with <span>Terms</span> and <span>Privacy</span>
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-12">
                      <button class="btn login btn_black sm" type="submit" aria-label="Submit" id="sign_Submit">
                        {{ 'customer.register.submit' | t }}
                      </button>
                    </div>
                  </div>
                {%- endform -%}
              </div>

              <div class="sign-up-box">
                <p>Already have an account?</p>
                <a class="theme-color" onclick="goToTab('login-tab-pane')">Log In </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function goToTab(tabId) {
    var tabTriggerEl = document.querySelector(`#myTab a[href="#${tabId}"]`);
    if (tabTriggerEl) {
        var tab = new bootstrap.Tab(tabTriggerEl);
        tab.show();
    } else {
        console.error("Tab not found:", tabId);
    }
}
  document.getElementById('recover-password-link').addEventListener('click', function() {
    document.getElementById('login-form').style.display = 'none';
    document.getElementById('recover-form').style.display = 'block';
  });

  document.getElementById('back-to-login').addEventListener('click', function() {
    document.getElementById('recover-form').style.display = 'none';
    document.getElementById('login-form').style.display = 'block';
  });

        document.addEventListener('DOMContentLoaded', () => {
    const agreeCheckbox = document.getElementById('sign-agree-terms-checkbox');
    const checkoutButton = document.getElementById('sign_Submit');


    agreeCheckbox.addEventListener('change', () => {
      if (agreeCheckbox.checked) {
        checkoutButton.removeAttribute('disabled');
      } else {
        checkoutButton.setAttribute('disabled', 'true');
      }
    });

    checkoutButton.setAttribute('disabled', 'true');
  });
</script>
