{% assign product = product-info %}
{% assign index = index-info | plus: 0 %}

<div class="product-card">
  <div class="img-wrapper">
    {% assign price = product.price | divided_by: 100 %}
    {% assign compare_price = product.compare_at_price | divided_by: 100 %}
    {% if compare_price > price %}
      {% assign discount = compare_price | minus: price %}
      {% assign discount_amount = discount | times: 100 %}
      {% assign discount_percentage = discount_amount | divided_by: compare_price %}
    {% endif %}
    {% if discount_percentage >= 10 %}
      <span class="discount">{{ discount_percentage | round }}% Off</span>
    {% endif %}
    {% if product.images.size > 0 %}
      <a class="pro-first" href="{{ product.url }}">
        <img
          alt="{{ product.title }}"
          class="img-fluid blur-up lazyload"
          {% if settings.enable_lazyload %}
            data-src="{{ product.featured_image | image_url }}"
          {% else %}
            src="{{ product.featured_image | image_url }}"
          {% endif %}
        >
      </a>
    {% endif %}
    {% if product.images.size > 1 %}
      <a class="pro-sec" href="{{ product.url }}">
        <img
          alt="{{ product.title }}"
          class="img-fluid blur-up lazyload"
          {% if settings.enable_lazyload %}
            data-src="{{ product.images[1] | img_url: 'master' }}"
          {% else %}
            src="{{ product.images[1] | img_url: 'master' }}"
          {% endif %}
        >
      </a>
    {% endif %}

    <a
      class="icon wishlist wishlist-btn {% if index == 3 %}filled{% endif %}"
      data-product-handle="{{ product.handle }}"
    >
      {% render 'icon-heart' %}
    </a>
    <div class="button-div">
      <button
        class="btn btn_solid"
        data-bs-toggle="modal"
        data-bs-target="#quick-view"
        tabindex="0"
        data-product-handle="{{ product.handle }}"
      >
        <i class="iconsax" icon-name="eye"></i> Quick View
      </button>
      <button
        class="btn btn_solid"
        data-bs-toggle="modal"
        data-bs-target="#variant-select"
        data-product-handle="{{ product.handle }}"
      >
        {% render 'icon-shopping-bag' %} Add to Cart
      </button>
    </div>
  </div>

  <a href="{{ product.url }}">
    <h5>{{ product.title }}</h5>
  </a>

  <p>
    {{ product.price | money_without_trailing_zeros }}
    <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
  </p>
</div>
